<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/categories.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <nav style="padding:1rem; background:#f8f8f8">
      <a href="/">Home</a>

      <a href="/about">About</a>

      <a href="/recipes">Recipes</a>

      <a href="/categories">Categories</a>

      <a href="/login">Login in</a>

      <a href="/contact">Contact</a>
    </nav>

    <main style="max-width:900px;margin:0 auto;padding:1rem;">
      {{{body}}}
    </main>
  </body>
</html>