<link rel="stylesheet" href="/css/home.css" />

<section class="home">
  <div class="home-card">
    <h1> Contact Us</h1>
    <p>Email:</p>
    <p>
      Oumaima bouzidi:
      <stong> boou24cg@student.ju.se</stong></p>
    <p>Layla Abdullahi :<stong> abla24rh@student.ju.se</stong></p>

    {{#if session.isLoggedIn}}

      <a href="/" class="home-btn">go back to Home</a>
    {{else}}

    {{/if}}
  </div>
</section>